{{#each this}}
<h1 class="country-title">
  <img class="flag" src="{{flags.svg}}" alt="flag" width="30">
  {{name.official}}
</h1>
<p class="parameter"><b>Capital: </b>{{capital}}</p>
<p class="parameter"><b>Population: </b>{{population}}</p>
<p class="parameter"><b>Languages: </b>
  {{#each languages}}
  {{this}}
  {{/each}}
</p>
{{/each}}